/* Styles for Music Player */
#musicPlayerContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Ensure it's above other content */
    transition: left 0.5s, top 0.5s;
}

/* Styles for Player Tab */
.tab {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Ensure it's above other content */
    transition: left 0.5s, bottom 0.5s;
}

/* Button styles */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    background-color: #555;
}

/* Input style for rename session */
input[type="text"] {
    padding: 8px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-right: 10px;
}

/* Hidden class to hide elements */
.hidden {
    display: none;
}

/* Settings icon */
.settings-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Ensure it's above other content */
    transition: right 0.5s, bottom 0.5s;
}

.settings-icon i {
    color: #fff;
    font-size: 24px;
}
