body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .controlButton {
            background-color: #E84C3D;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 10px;
        }

        .controlButton:hover {
            background-color: #45a049;
        }

        input[type="text"],
        input[type="number"] {
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid #E84C3D;
            border-radius: 4px;
            box-sizing: border-box;
        }

        #searchForm {
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            padding: 10px;
            border-bottom: 1px solid #E84C3D;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        li:hover {
            background-color: #f5f5f5;
        }

        .vivekfy {
            width: 80px;
            height: 80px;
            margin-right: 15px;
        }

        #searchForm button {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: #E84C3D;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        #searchForm button:hover {
            background-color: #45a049;
        }

        .songImage {
            width: 80px;
            height: 80px;
            margin-right: 15px;
        }

        .playlistItem {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #E84C3D;
            cursor: pointer;
        }

        .playlistItem:hover {
            background-color: #f5f5f5;
        }

        .songInfo {
            display: flex;
            flex-direction: column;
        }
#urlInput, #updateUrlButton {
    display: none;
    width: 0;
    height: 0;
}


        .songTitle {
            font-weight: bold;
        }
