* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
    font-family: Arial, sans-serif;  
}  

body {  
    background: url('https://source.unsplash.com/1600x900/?abstract,light') no-repeat center center/cover;  
    height: 100vh;  
}  

.side-menu {  
    position: fixed;  
    z-index: 99999;  
    left: 2px;  
    top: 32%;  
    transform: translateY(-50%);  
    width: 50px;  
    padding: 5px;  
    background: rgba(255, 255, 255, 0.2);  
    backdrop-filter: blur(15px);  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
    border-radius: 20px;  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    transition: left 0.5s ease, opacity 0.5s ease;  
}  

.side-menu.hidden {
    left: -38px; /* hide off-screen */
    opacity: 0.8;
}

.menu-item {  
    width: 100%;  
    padding: 15px 0;  
    text-align: center;  
    cursor: pointer;  
    transition: transform 0.2s, color 0.3s;  
}  

.menu-item i {  
    font-size: 20px;  
    display: block;  
    color: cyan;  
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.8);  
    transition: color 0.3s;  
}  

.menu-item:hover {  
    transform: scale(1.1);  
}  

.menu-item:hover i {  
    color: yellow;  
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.8);  
}  
